[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl.git
[submodule "lib/lwip-2.2.1"]
	path = lib/lwip-2.2.1
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "lib/freetype-2.14.3"]
	path = lib/freetype-2.14.3
	url = https://github.com/freetype/freetype.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/lua-5.4.9"]
	path = lib/lua-5.4.9
	url = https://github.com/lua/lua.git
[submodule "lib/wpewebkit-2.54"]
	path = lib/wpewebkit-2.54
	url = https://github.com/WebKit/WebKit.git
	branch = webkitglib/2.54
