# grub/grub.cfg —— SukiOS GRUB 启动菜单
# grub-mkrescue 会据此生成同时兼容 Legacy BIOS 与 UEFI 的 ISO。
set timeout=0
set default=0

menuentry "SukiOS (x86_64 hybrid kernel)" {
    multiboot2 /boot/kernel.elf
    boot
}
